@media only screen and (min-width: 900px) {
    .item-folder {
        grid-template-columns: 2fr 1.3fr 1.5fr;
    }
}

:root {
    --color-dark: #111111;
    --color-dark-2: #191919;
    --color-dark-grey: #141C23;
    --color-light: #ECF0F1;
    --color-grey: #95A5A6;
    --color-grey-2: #606a6b;
    --color-shadow: #000000;
}

* {
    margin: 0;
    padding: 0;
    font-family: Consolas, monaco, monospace;
    color: var(--color-light);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-dark);
    background-image: url("../source/background/background.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

li {
    list-style-type: none;
    margin: 10px 0 10px 0;
    padding: 0px 3px;
    border-left: 5px solid var(--color-grey-2);
}

item-link {
    white-space: nowrap;
}

.a-1 {
    display: block;
    padding: 3px 5px;
    margin-top: 10px;
    font-size: 18px;
}

.a-2 {
    display: block;
    margin-left: 20px;
    padding: 3px 5px;
    font-size: 16px;
}

.header {
    font-family: 'Russo One', sans-serif;
    max-width: 860px;
    margin: 200px auto;
    padding: 20px;
    font-size: 38px;
    font-weight: 900;
    text-align: center;
    background-color: rgba(20, 28, 35, .6);
    box-shadow: 5px 5px 10px var(--color-shadow);
}

.header-subtitle {
    padding: 10px;
    color: var(--color-light);
    font-size: 22px;
    font-weight: 700;
}

.header-title {
    width: 100%;
}

.content {
    max-width: calc(900px - 15px * 2);
    padding: 10px 15px 15px 15px;
    margin: auto;
    background-color: var(--color-dark-grey);
    box-shadow: 5px 5px 10px var(--color-shadow);
}

.scroll-up {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--color-dark-grey);
    box-shadow: 5px 5px 10px var(--color-shadow);
    transition: .1s;
}

.scroll-up:hover {
    scale: 1.1;
}

.table-of-content-toggle {
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    position: fixed;
    background-color: var(--color-dark-grey);
    z-index: 10000;
}

.table-of-content-folder {
    left: 0;
    top: 0;
    position: fixed;
    box-shadow: 5px 5px 10px var(--color-shadow);
}

.table-of-content {
    background-color: var(--color-dark-grey);
    width: 200px;
    padding: 60px 10px 10px 10px;
    overflow-y: scroll;
}

.table-of-content-header {
    left: 60px;
    top: 0px;
    position: fixed;
    font-size: 22px;
}

.block {
    margin: 20px 0 100px 0;
    /* border-top: 2px solid var(--color-grey); */
}

.block-header {
    font-size: 32px;
    font-weight: 900;
    padding: 5px 10px;
    margin: 20px 0 10px 0;
    background-color: var(--color-dark);
}

.block-header-2 {
    font-size: 22px;
    font-weight: 700;
    margin: 20px 10px 10px 10px;
    padding: 5px 10px;
    background-color: var(--color-dark);
}

.block-header-3 {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 10px 10px 10px;
    padding: 5px 10px;
}

.block-text {
    margin: 0 10px;
    line-height: 1.3;
    font-size: 14px;
    text-align: justify;
}

.block-text-with-image {
    float: right;
    display: contents;
}

.block-image {
    float: left;
    margin: 0 10px 0 0;
}

.block-list {
    margin-left: 20px;
}

.block-list li>item-link:first-child {
    display: inline-block;
    background-color: var(--color-grey-2);
    padding: 5px 10px 5px 5px;
    margin-left: -3px;
}

.block-list li>span {
    display: inline-block;
    background-color: var(--color-grey-2);
    padding: 5px 10px 5px 5px;
    margin-left: -3px;
}

.block-list-first {
    display: inline-block;
    background-color: var(--color-grey-2);
    padding: 5px 10px 5px 5px;
    margin-left: -3px;
}

.block-list-items {
    margin: 5px 0 10px 0;
}

.block-list-image {
    height: 16px;
    width: 16px;
    margin: 0 5px -4px 0;
}

.item-folder {
    display: grid;
    margin-left: 80px;
    min-height: 80px;
    /*grid-template-columns: 2fr 1.3fr 1.5fr;*/
}

.item-image {
    height: 70px;
    margin-left: 10px;
}

.item-element {
    margin: 0 10px;
    font-size: 12px;
}

.item-header {
    font-size: 18px;
    margin: 10px 0 5px 0;
}